<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav-log_page">
        <p >Welcome to 10 Shop</p>
    </div>
  </div>
</nav>