<div class="mt-4  ml-10">
    {{!-- dòng code below là form này có method post và chuyển  đường truyền đến /courses/store --}}
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" name="name" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" class="form-control" id="Description" name="description" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoID" name="vidID" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Level</label>
            <input type="text" class="form-control" id="Level" name="level" >
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>